.desktop {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.workspace {
  flex-grow: 1;
  position: relative;
  padding: 1rem;
}

:global(.tablet-version) .workspace {
  padding: 0.5rem !important;
}


